# Movie Recomendation

In [161]:
import numpy as np
import pandas as pd

In [162]:
movies = pd.read_csv('D:/SOFTWARe/Python/Scripts/Movie Recomendation/tmdb_5000_movies.csv')
credits = pd.read_csv('D:/SOFTWARe/Python/Scripts/Movie Recomendation/tmdb_5000_credits.csv')

In [163]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [164]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [165]:
# merging both the datasets on 'title'
movies = movies.merge(credits,on='title')

In [166]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [167]:
# Retaining only useful columns
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [168]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [169]:
# checking for null values
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [170]:
# As null count of overview is 3, which is less, so we decided to drop
movies.dropna(inplace=True)

In [171]:
# checking for duplicates
movies.duplicated().sum()

0

In [172]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [173]:
import json
json.loads(movies.iloc[0].genres)

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [174]:
def convert(text):
    json_string = text
    movie_genkey = json.loads(json_string)
    s = []
    for i in movie_genkey:
        s.append(i['name'])
    return s

In [175]:
# # extracting 'name' from genres
movies['genres'] = movies['genres'].apply(convert)

In [176]:
# extracting 'name' from keywords
movies['keywords'] = movies['keywords'].apply(convert)

In [177]:
def convert1(text):
    json_string = text
    movie_cast = json.loads(json_string)
    s = []
    counter = 0
    for i in movie_cast:
        if counter==3:
            break
        s.append(i['name'])
        counter = counter + 1;
    return s

In [178]:
# extracting first three characters
movies['cast'] = movies['cast'].apply(convert1)

In [179]:
def convert2(text):
    json_string = text
    movie_crew= json.loads(json_string)
    s = []
    for i in movie_crew:
        if i['job']=='Director':
            s.append(i['name'])
    return s

In [180]:
# extracting 'director' name
movies['crew'] = movies['crew'].apply(convert2)

In [181]:
# string to list
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [182]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [183]:
# removing spaces
movies['overview'] = movies['overview'].apply(lambda x:[i.replace(" ",'') for i in x])
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ",'') for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ",'') for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ",'') for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ",'') for i in x])

In [184]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [185]:
movies['tag'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [186]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew,tag
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."

In [187]:
movies = movies[['movie_id','title','tag']]

In [188]:
movies.head(1)

   movie_id   title                                                tag
0     19995  Avatar  [In, the, 22nd, century,, a, paraplegic, Marin...

In [189]:
movies['tag'] = movies['tag'].apply(lambda x:" ".join(x))

In [190]:
movies.head(1)

   movie_id   title                                                tag
0     19995  Avatar  In the 22nd century, a paraplegic Marine is di...

In [191]:
movies['tag'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [192]:
movies['tag'] = movies['tag'].apply(lambda x:x.lower())

In [193]:
movies.head(1)

   movie_id   title                                                tag
0     19995  Avatar  in the 22nd century, a paraplegic marine is di...

In [194]:
import nltk

In [195]:
# stemming
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [196]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y);

In [197]:
movies['tag'] = movies['tag'].apply(stem)

In [198]:
movies.head(1)

   movie_id   title                                                tag
0     19995  Avatar  in the 22nd century, a parapleg marin is dispa...

In [199]:
# using bag of words
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [200]:
# converts each sentence into vectors
vectors = cv.fit_transform(movies['tag']).toarray()

In [201]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [202]:
# in high dimension, euclidean distance is not a good measure, we will use cosine distance
from sklearn.metrics.pairwise import cosine_similarity

In [203]:
# find each vector similarity with each other vector
similarity = cosine_similarity(vectors) # similarity = 1/distance

In [204]:
similarity.shape

(4806, 4806)

In [205]:
similarity[0] # similarity of first movie with all other movies

array([1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
       0.        ])

In [206]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(1216, 0.28676966733820225),
 (2409, 0.26901379342448517),
 (3730, 0.2605130246476754),
 (507, 0.255608593705383),
 (539, 0.25038669783359574)]

In [207]:
def recommend(movie):
    movie_index = movies[movies['title']==movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(movies.iloc[i[0]].title)

In [208]:
recommend('Batman Begins')

The Dark Knight
Batman
Batman
The Dark Knight Rises
10th & Wolf

In [209]:
movies.iloc[1216]

movie_id                                                  440
title                             Aliens vs Predator: Requiem
tag         a sequel to 2004' alien vs. predator, the icon...
Name: 1216, dtype: object

In [210]:
import pickle
pickle.dump(movies,open('movies.pkl','wb'))